<footer class="site-footer">
  <a href="/"><img style="height: 15px;" src="../assets/blog-low-resolution-logo-color-on-transparent-background.svg" alt="" srcset=""></a>
    <p style="top:10px;position: relative;">© 2023 Company Name. All rights reserved.</p>
  </footer>