<header class="page-header">
    <div class="container">
      <div class="page-header__content">
        <div>
          <a href="/"><img style="height: 30px;" src="../assets/blog-low-resolution-logo-color-on-transparent-background.svg" alt="" srcset=""></a>
        </div>
        <nav>
          
          <ul role="list" class="nav-list flex-group">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>