---
title: My homepage
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to my blog!</h1>
        <p>I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
        <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">News Feeds</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %} 
    
    </ul>
  </div>
</section> 
<section class="section__container service__container">
  <p class="section__subheader">CAREERS</p>
  <h2 class="section__header"> Job Openings</h2>
  <div class="service__grid">
    <div class="service__card">
      <p class="service__card__subtitle">Pro</p>
      <h4 class="service__card__title">Web<br />Developer</h4>
      <p class="service__card__description">
        We are dedicated to providing high-quality web design services that
        are tailored to meet the specific needs of our clients.
      </p>
      <span class="service__card__icon"><i class="ri-add-line"></i></span>
    </div>
    <div class="service__card">
      <p class="service__card__subtitle">Intermediate</p>
      <h4 class="service__card__title">Product<br />Designer</h4>
      <p class="service__card__description">
        We use the latest web technologies and development tools to create
        websites that are fast, secure, and scalable.
      </p>
      <span class="service__card__icon"><i class="ri-add-line"></i></span>
    </div>
    <div class="service__card">
      <p class="service__card__subtitle">Pro</p>
      <h4 class="service__card__title">Graphics<br />Designer</h4>
      <p class="service__card__description">
        Our approach is collaborative, and we encourage your feedback
        throughout the process to ensure your expectations.
      </p>
      <span class="service__card__icon"><i class="ri-add-line"></i></span>
    </div>
    <div class="service__card">
      <p class="service__card__subtitle">Intermediate</p>
      <h4 class="service__card__title">Software<br />Developer</h4>
      <p class="service__card__description">
        We use the latest web technologies and development tools to create
        websites that are fast, secure, and scalable.
      </p>
      <span class="service__card__icon"><i class="ri-add-line"></i></span>
    </div>
    <div class="service__card">
      <p class="service__card__subtitle">Pro</p>
      <h4 class="service__card__title">Project<br />Manager</h4>
      <p class="service__card__description">
        Our approach is collaborative, and we encourage your feedback
        throughout the process to ensure your expectations.
      </p>
      <span class="service__card__icon"><i class="ri-add-line"></i></span>
    </div>
    <div class="service__card">
      <p class="service__card__subtitle">Intermediate</p>
      <h4 class="service__card__title">Web<br />Designer</h4>
      <p class="service__card__description">
        We are dedicated to providing high-quality web design services that
        are tailored to meet the specific needs of our clients.
      </p>
      <span class="service__card__icon"><i class="ri-add-line"></i></span>
    </div>
  </div>
</section>
<!-- Start Services -->
<table border="0" id="services" width="100%" cellpadding="0" cellspacing="0" bgcolor="#E9FBF8">
  <tr>
  	 <td>
  	 	<table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
  	 	<!-- Heading Start-->
          <tr>
           	  <td height="160" align="center" valign="middle" colspan="3">
                <h2 class="section-title text-center ">Update on upcoming events</h2>
           	  
           	  </td>
          </tr>
     
  	 	</table>
  	 </td>
  </tr>
</table>
<!-- End Services -->
<div style="background-color: #E9FBF8;padding-bottom: 4%;">
<div class="container" >
  <div class="row vertical-scroll">
    <div class="card">
      <img src="https://picsum.photos/300/200">
      <h3 class="snippet__title">Event 1</h3> 
      <p class="snippet__body">This is a wider card with supporting text below as a natural lead-in to additional content. </p></div>
      <div class="card">
        <img src="https://picsum.photos/300/200">
        <h3 class="snippet__title">Event 2</h3> 
        <p class="snippet__body">This is a wider card with supporting text below as a natural lead-in to additional content. </p></div>
        <div class="card">
          <img src="https://picsum.photos/300/200">
          <h3 class="snippet__title">Event 3</h3> 
          <p class="snippet__body">This is a wider card with supporting text below as a natural lead-in to additional content. </p></div>
          <div class="card">
            <img src="https://picsum.photos/300/200">
            <h3 class="snippet__title">Event 4</h3> 
            <p class="snippet__body">This is a wider card with supporting text below as a natural lead-in to additional content. </p></div>
            <div class="card">
              <img src="https://picsum.photos/300/200">
              <h3 class="snippet__title">Event 5</h3> 
              <p class="snippet__body">This is a wider card with supporting text below as a natural lead-in to additional content. </p></div>
              <div class="card">
                <img src="https://picsum.photos/300/200">
                <h3 class="snippet__title">Event 6</h3> 
                <p class="snippet__body">This is a wider card with supporting text below as a natural lead-in to additional content. </p></div>
  </div>
</div>

</div>

